In [6]:
import pandas as pd
import ast

# Load the Excel file
df = pd.read_csv('../../data/raw/msa-municipality.csv')

df

,msa,municipality
0,"Abilene, TX","['Callahan County, TX', 'Jones County, TX', 'T..."
1,"Akron, OH","['Portage County, OH', 'Summit County, OH']"
2,"Albany, GA","['Dougherty County, GA', 'Lee County, GA', 'Te..."
3,"Albany-Lebanon, OR","['Linn County, OR']"
4,"Albany-Schenectady-Troy, NY","['Albany County, NY', 'Rensselaer County, NY',..."
...,...,...
379,"Yakima, WA","['Yakima County, WA']"
380,"York-Hanover, PA","['York County, PA']"
381,"Youngstown-Warren-Boardman, OH-PA","['Mahoning County, OH', 'Trumbull County, OH',..."
382,"Yuba City, CA","['Sutter County, CA', 'Yuba County, CA']"
383,"Yuma, AZ","['Yuma County, AZ']"

In [7]:
# Create a new dataframe
data = []

# Iterate through each row in the original dataframe
for index, row in df.iterrows():
    msa = row.iloc[0]  # Get the MSA
    counties = ast.literal_eval(row.iloc[1])  # Convert the string representation of the list back to a list
    
    # Append each county with its corresponding MSA to the new data list
    for county in counties:
        data.append([county, msa])

# Create a new dataframe from the data list
new_df = pd.DataFrame(data, columns=['County', 'MSA'])

new_df

                   County                                MSA
0     Callahan County, TX                        Abilene, TX
1        Jones County, TX                        Abilene, TX
2       Taylor County, TX                        Abilene, TX
3      Portage County, OH                          Akron, OH
4       Summit County, OH                          Akron, OH
...                   ...                                ...
1176  Trumbull County, OH  Youngstown-Warren-Boardman, OH-PA
1177    Mercer County, PA  Youngstown-Warren-Boardman, OH-PA
1178    Sutter County, CA                      Yuba City, CA
1179      Yuba County, CA                      Yuba City, CA
1180      Yuma County, AZ                           Yuma, AZ

[1181 rows x 2 columns]