In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

C:\Users\peiyaozhao\AppData\Local\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
### Data input

mods_df = pd.read_csv('../../data/raw/ACSDT5Y2020.B08006-2024-07-01T191933.csv') # modeshares (for commuting)
inc_df = pd.read_csv('../../data/raw/ACSST5Y2020.S1903-2024-07-02T123158.csv') # modeshares (for commuting)
em_df = pd.read_csv('../../data/raw/ACSST5Y2020.S2301-2024-07-02T122928.csv') # modeshares (for commuting)
population_df = pd.read_csv('../../data/raw/ACSDP5Y2020.DP05-2024-07-04T223534.csv') # modeshares (for commuting)
vehi_num_df = pd.read_csv('../../data/raw/ACSDP5Y2020.DP04-2024-07-11T210316.csv') # modeshares (for commuting)
household_df = pd.read_csv('../../data/raw/ACSDP5Y2020.DP02-2024-07-11T195226.csv') # modeshares (for commuting)
industry_df = pd.read_csv('../../data/raw/ACSDP5Y2020.DP03-2024-07-11T212702.csv') # modeshares (for commuting)

In [3]:
em_df

,Label (Grouping),"Abilene, TX Metro Area!!Total!!Estimate","Abilene, TX Metro Area!!Total!!Margin of Error","Abilene, TX Metro Area!!Labor Force Participation Rate!!Estimate","Abilene, TX Metro Area!!Labor Force Participation Rate!!Margin of Error","Abilene, TX Metro Area!!Employment/Population Ratio!!Estimate","Abilene, TX Metro Area!!Employment/Population Ratio!!Margin of Error","Abilene, TX Metro Area!!Unemployment rate!!Estimate","Abilene, TX Metro Area!!Unemployment rate!!Margin of Error","Aguadilla-Isabela, PR Metro Area!!Total!!Estimate",...,"Yuba City, CA Metro Area!!Unemployment rate!!Estimate","Yuba City, CA Metro Area!!Unemployment rate!!Margin of Error","Yuma, AZ Metro Area!!Total!!Estimate","Yuma, AZ Metro Area!!Total!!Margin of Error","Yuma, AZ Metro Area!!Labor Force Participation Rate!!Estimate","Yuma, AZ Metro Area!!Labor Force Participation Rate!!Margin of Error","Yuma, AZ Metro Area!!Employment/Population Ratio!!Estimate","Yuma, AZ Metro Area!!Employment/Population Ratio!!Margin of Error","Yuma, AZ Metro Area!!Unemployment rate!!Estimate","Yuma, AZ Metro Area!!Unemployment rate!!Margin of Error"
0,Population 16 years and over,"135,054",±297,61.1%,±0.9,56.1%,±0.9,3.3%,±0.5,"248,419",...,7.4%,±0.8,"164,420",±371,54.8%,±1.0,47.9%,±1.0,8.6%,±0.9
1,AGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,16 to 19 years,"9,901",±360,43.1%,±3.8,35.1%,±3.8,10.8%,±3.1,"15,364",...,24.9%,±6.5,"12,040",±406,31.8%,±4.1,23.8%,±3.6,20.4%,±4.2
3,20 to 24 years,"16,104",±274,78.7%,±3.1,65.2%,±3.5,5.4%,±1.7,"19,280",...,13.8%,±3.5,"17,631",±257,77.8%,±2.6,56.7%,±3.9,14.9%,±3.7
4,25 to 29 years,"13,621",±201,74.6%,±2.9,66.5%,±3.4,2.8%,±1.2,"18,808",...,8.4%,±2.2,"15,630",±281,82.2%,±2.4,70.7%,±3.3,8.0%,±2.8
5,30 to 34 years,"12,125",±240,79.8%,±2.0,73.6%,±2.8,3.7%,±1.4,"16,611",...,6.7%,±2.3,"13,730",±136,77.4%,±3.1,69.4%,±3.4,7.8%,±2.5
6,35 to 44 years,"20,479",±266,74.1%,±2.4,68.7%,±2.8,2.5%,±1.0,"36,422",...,6.5%,±2.2,"23,099",±182,79.4%,±2.4,72.3%,±2.4,6.1%,±1.6
7,45 to 54 years,"17,530",±261,73.3%,±2.4,71.6%,±2.5,1.6%,±0.6,"39,449",...,4.6%,±1.3,"21,218",±180,76.0%,±2.3,70.8%,±2.3,6.6%,±1.5
8,55 to 59 years,"10,169",±429,70.7%,±3.4,67.7%,±3.6,4.3%,±2.4,"20,021",...,4.7%,±1.7,"9,869",±682,64.5%,±3.4,57.9%,±3.9,10.3%,±2.8
9,60 to 64 years,"9,291",±433,53.6%,±3.2,53.3%,±3.2,0.5%,±0.5,"20,970",...,7.0%,±4.2,"10,763",±664,43.2%,±3.4,40.8%,±3.6,5.2%,±2.7
10,65 to 74 years,"14,271",±85,31.3%,±2.9,30.8%,±2.9,1.4%,±0.7,"35,180",...,3.4%,±2.7,"20,016",±170,15.5%,±1.9,14.9%,±2.0,4.2%,±2.6
11,75 years and over,"11,563",±84,8.7%,±2.0,8.5%,±2.0,2.4%,±2.5,"26,314",...,1.7%,±2.3,"20,424",±144,2.6%,±0.6,2.4%,±0.6,7.7%,±8.7
12,RACE AND HISPANIC OR LATINO ORIGIN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,White alone,"104,245","±1,035",61.9%,±1.0,57.4%,±1.0,3.4%,±0.6,"172,999",...,7.0%,±1.0,"116,978","±2,068",51.2%,±1.1,44.6%,±1.1,8.9%,±0.9
14,Black or African American alone,"10,710",±407,54.1%,±3.4,46.5%,±4.0,4.1%,±1.9,"8,250",...,6.6%,±4.8,"4,036",±326,61.5%,±7.0,44.9%,±8.0,12.6%,±10.6
15,American Indian and Alaska Native alone,802,±239,65.0%,±14.2,62.6%,±14.5,2.3%,±4.0,189,...,8.0%,±6.3,"2,394",±362,39.6%,±5.2,34.6%,±5.6,12.7%,±7.9
16,Asian alone,"2,724",±204,63.5%,±5.6,55.4%,±7.0,5.8%,±4.3,197,...,6.9%,±1.9,"2,266",±168,66.0%,±6.8,57.1%,±7.1,5.9%,±4.0
17,Native Hawaiian and Other Pacific Isla...,26,±38,7.7%,±40.2,7.7%,±40.2,0.0%,±100.0,15,...,3.6%,±4.6,125,±58,28.8%,±23.7,13.6%,±20.9,0.0%,±79.8
18,Some other race alone,"10,773",±941,60.4%,±4.0,57.7%,±4.1,2.0%,±1.3,"47,699",...,9.1%,±3.5,"22,956","±2,023",65.6%,±3.0,56.8%,±3.2,10.4%,±2.6
19,Two or more races,"5,774",±710,57.6%,±4.8,47.7%,±5.1,2.8%,±1.9,"19,070",...,10.6%,±3.0,"15,665","±1,443",65.8%,±4.1,61.1%,±4.1,3.8%,±2.1
20,Hispanic or Latino origin (of any race),"29,123",±159,64.5%,±2.3,59.6%,±2.6,3.6%,±0.9,"240,673",...,7.8%,±1.7,"97,760",±357,64.2%,±1.4,57.3%,±1.4,9.3%,±1.1
21,"White alone, not Hispanic or Latino","89,573",±506,61.1%,±1.1,56.7%,±1.1,3.1%,±0.7,"6,244",...,6.8%,±1.4,"57,489",±160,38.8%,±1.3,32.7%,±1.3,6.2%,±1.1
22,Population 20 to 64 years,"99,319",±221,73.2%,±1.0,67.4%,±1.1,3.0%,±0.6,"171,561",...,7.0%,±0.8,"111,940",±239,73.9%,±1.2,64.7%,±1.3,8.3%,±0.9
23,SEX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Male,"51,611",±131,74.1%,±1.4,65.6%,±1.8,3.6%,±0.9,"83,196",...,7.2%,±1.0,"59,405",±187,80.4%,±1.4,68.3%,±1.8,8.2%,±1.4
25,Female,"47,708",±181,72.2%,±1.3,69.4%,±1.4,2.4%,±0.6,"88,365",...,6.8%,±1.1,"52,535",±145,66.4%,±1.6,60.6%,±1.5,8.4%,±1.1
26,With own children under 18 years,"17,612",±693,75.6%,±2.2,73.0%,±2.3,2.2%,±0.9,"26,391",...,5.7%,±1.5,"22,852",±871,68.6%,±2.8,62.4%,±2.9,9.0%,±2.0
27,With own children under 6 year...,"4,180",±513,73.3%,±4.9,68.6%,±5.2,4.1%,±2.3,"4,879",...,7.6%,±3.6,"4,634",±625,64.8%,±6.2,57.4%,±6.7,11.3%,±6.5
28,With own children under 6 year...,"4,266",±443,67.4%,±4.9,63.8%,±5.5,2.7%,±2.3,"3,983",...,6.0%,±3.3,"5,397",±556,63.6%,±6.0,54.5%,±6.4,13.9%,±6.2
29,With own children 6 to 17 year...,"9,166",±551,80.5%,±2.9,79.3%,±2.9,1.3%,±0.7,"17,529",...,4.7%,±2.0,"12,821",±651,72.2%,±3.3,67.5%,±3.4,6.5%,±1.9
30,POVERTY STATUS IN THE PAST 12 MONTHS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,Below poverty level,"11,716",±954,51.5%,±4.2,46.3%,±4.2,8.7%,±2.6,"83,586",...,20.2%,±4.4,"16,527","±1,170",54.5%,±3.7,42.5%,±3.7,21.8%,±3.8
32,At or above the poverty level,"78,116","±1,057",83.2%,±0.9,77.6%,±1.0,2.5%,±0.6,"86,869",...,6.0%,±0.9,"90,949","±1,249",79.4%,±1.4,71.8%,±1.5,6.6%,±1.0
33,DISABILITY STATUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,With any disability,"11,670",±836,46.4%,±4.2,43.2%,±4.2,5.8%,±1.9,"33,134",...,10.6%,±3.2,"9,998",±846,41.2%,±4.4,35.8%,±4.5,12.0%,±3.5
35,EDUCATIONAL ATTAINMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,Population 25 to 64 years,"83,215",±192,72.2%,±1.0,67.8%,±1.1,2.6%,±0.5,"152,281",...,6.2%,±0.9,"94,309",±301,73.1%,±1.2,66.2%,±1.2,7.1%,±0.9
37,Less than high school graduate,"9,272",±623,47.4%,±4.0,45.5%,±4.1,4.0%,±2.1,"31,170",...,10.7%,±2.8,"22,554","±1,263",63.0%,±2.9,54.0%,±2.9,14.2%,±2.8
38,High school graduate (includes equival...,"26,619","±1,303",66.1%,±2.5,63.1%,±2.6,3.1%,±0.8,"44,933",...,5.0%,±1.3,"24,111","±1,263",69.5%,±2.4,62.5%,±2.5,7.0%,±1.8
39,Some college or associate's degree,"27,026","±1,097",76.5%,±2.1,70.5%,±2.4,3.4%,±1.1,"38,475",...,7.0%,±2.0,"31,893","±1,546",78.1%,±2.0,71.6%,±2.1,4.9%,±1.1
40,Bachelor's degree or higher,"20,298","±1,258",85.6%,±1.8,80.6%,±1.8,0.8%,±0.5,"37,703",...,3.2%,±1.1,"15,751","±1,076",83.1%,±2.5,78.2%,±2.5,3.8%,±1.6

#Traffic Mode Share

In [4]:
mods_df.columns
filtered_cols = [col for col in mods_df.columns if 'Margin of Error' not in col]
mods_df = mods_df[filtered_cols][1:17]

# Drop the rows with indices 11, 12, and 13
mods_df.drop([2,3,4,5,6,8,9,10,11,12], inplace=True)

# Reset the index
mods_df.reset_index(drop=True, inplace=True)

mods_df=mods_df.transpose()
# Remove "Metro Area!!Estimate" from the row index
mods_df.index = mods_df.index.str.replace(' Metro Area!!Estimate', '')

# Make the first row the column index
mods_df.columns = mods_df.iloc[0]
mods_df = mods_df.drop(mods_df.index[0])
mods_df

Label (Grouping),"Car, truck, or van:",Public transportation (excluding taxicab):,Bicycle,Walked,"Taxicab, motorcycle, or other means",Worked from home
"Abilene, TX","70,902",467,200,"1,737",606,"4,980"
"Aguadilla-Isabela, PR","72,749",366,273,"2,228",674,"2,401"
"Akron, OH","309,068","3,650",349,"5,249","2,254","23,633"
"Albany, GA","55,369",561,96,"1,086",838,"2,566"
"Albany-Lebanon, OR","49,876",71,316,"1,067",718,"3,435"
...,...,...,...,...,...,...
"Yauco, PR","19,668",157,25,389,498,481
"York-Hanover, PA","201,614","1,702",528,"3,104","1,704","12,755"
"Youngstown-Warren-Boardman, OH-PA","212,036","2,262",178,"3,667","3,265","11,274"
"Yuba City, CA","64,345",579,188,905,701,"4,150"
"Yuma, AZ","73,920","1,436",244,"1,592",988,"2,839"

In [5]:
# Function to calculate percentage of each value in the row relative to the row sum
def calculate_percentage(row):
    return (row / row.sum()) * 100

# Remove commas and convert relevant columns to float
mods_df = mods_df.replace(',', '', regex=True).astype(float)

# Applying the function and updating the DataFrame (excluding the index)
mods_df = mods_df.apply(calculate_percentage, axis=1)
mods_df

Label (Grouping),"Car, truck, or van:",Public transportation (excluding taxicab):,Bicycle,Walked,"Taxicab, motorcycle, or other means",Worked from home
"Abilene, TX",89.872230,0.591948,0.253511,2.201744,0.768139,6.312427
"Aguadilla-Isabela, PR",92.448946,0.465110,0.346927,2.831328,0.856515,3.051175
"Akron, OH",89.792361,1.060421,0.101394,1.524972,0.654846,6.866006
"Albany, GA",91.494811,0.927028,0.158636,1.794567,1.384758,4.240201
"Albany-Lebanon, OR",89.894202,0.127967,0.569544,1.923112,1.294090,6.191086
...,...,...,...,...,...,...
"Yauco, PR",92.694882,0.739938,0.117824,1.833349,2.347064,2.266943
"York-Hanover, PA",91.060355,0.768720,0.238475,1.401943,0.769623,5.760884
"Youngstown-Warren-Boardman, OH-PA",91.126946,0.972142,0.076499,1.575971,1.403203,4.845239
"Yuba City, CA",90.795564,0.817012,0.265282,1.277022,0.989163,5.855958
"Yuma, AZ",91.237858,1.772424,0.301164,1.964971,1.219467,3.504116

In [6]:
# Select columns containing "Median income" or "Number" and not containing "Margin of Error"
selected_columns = [
    col for col in inc_df.columns 
    if ("Median income" in col or "Number" in col) and "Margin of Error" not in col
]

# Select the first row and the filtered columns
income_df = inc_df.loc[[1], selected_columns]

# Transpose the DataFrame so rows become columns
income_df = income_df.transpose()

# Rename the column to a generic name
income_df.columns = ["Value"]

# Clean the index to remove unnecessary parts
income_df.index = income_df.index.str.replace(
    ' Metro Area!!Median income (dollars)!!Estimate', '', regex=False
).str.replace(
    ' Metro Area!!Number!!Estimate', '', regex=False
)

# Split the transposed DataFrame into two parts: "Median Household Income" and "Number Estimate"
median_income = income_df.iloc[1::2].reset_index(drop=True)
number_estimate = income_df.iloc[0::2].reset_index(drop=True)

# Combine the two into a single DataFrame with appropriate columns
income_df = pd.DataFrame({
    'Median Household Income': median_income['Value'].values,
    'Household Number': number_estimate['Value'].values
}, index=income_df.index[1::2])

# Keep the area names as the index
income_df.index.name = "Area"

income_df

                                  Median Household Income Household Number
Area
Abilene, TX                                        54,857           61,414
Aguadilla-Isabela, PR                              16,744          111,662
Akron, OH                                          59,313          289,506
Albany, GA                                         46,323           56,120
Albany-Lebanon, OR                                 59,547           48,290
...                                                   ...              ...
Yauco, PR                                          15,754           30,671
York-Hanover, PA                                   68,940          174,425
Youngstown-Warren-Boardman, OH-PA                  48,020          231,607
Yuba City, CA                                      61,655           59,020
Yuma, AZ                                           48,790           74,624

[392 rows x 2 columns]

In [7]:
#unemployment rate

In [8]:
# Select columns containing "Employment/Population Ratio" or "Unemployment rate" and not containing "Margin of Error"
selected_columns = [col for col in em_df.columns if ("Employment/Population Ratio" in col or "Unemployment rate" in col) and "Margin of Error" not in col]

# Select the first row and the filtered columns
em_df = em_df.loc[[0], selected_columns]

em_df=em_df.transpose()

# Remove "Metro Area!!Estimate" from the row index
em_df.index = em_df.index.str.replace(' Metro Area!!Employment/Population Ratio!!Estimate', '')
em_df.index = em_df.index.str.replace(' Metro Area!!Unemployment rate!!Estimate', '')

# Split the transposed DataFrame into employment and unemployment rates
employment_rates = em_df.iloc[0::2].reset_index(drop=True)
unemployment_rates = em_df.iloc[1::2].reset_index(drop=True)

# Combine the two into a single DataFrame with appropriate columns
em_df = pd.DataFrame({
    'Employment Rate': employment_rates[0].values,
    'Unemployment Rate': unemployment_rates[0].values
}, index=em_df.index[0::2])

# Clean the index name by removing unnecessary parts
em_df.index = em_df.index.str.replace('!!Employment/Population Ratio!!Estimate', '')

em_df

                                  Employment Rate Unemployment Rate
Abilene, TX                                 56.1%              3.3%
Aguadilla-Isabela, PR                       32.5%             15.8%
Akron, OH                                   61.0%              5.8%
Albany, GA                                  53.1%              8.5%
Albany-Lebanon, OR                          55.3%              6.8%
...                                           ...               ...
Yauco, PR                                   29.6%             21.9%
York-Hanover, PA                            62.7%              4.6%
Youngstown-Warren-Boardman, OH-PA           53.5%              6.4%
Yuba City, CA                               52.9%              7.4%
Yuma, AZ                                    47.9%              8.6%

[392 rows x 2 columns]

In [9]:
filtered_cols = [col for col in population_df.columns if 'Area!!Percent' not in col and "Margin of Error" not in col]
pop_hh_df = population_df[filtered_cols].iloc[[1, 89]]

pop_hh_df=pop_hh_df.transpose()

# Remove "Metro Area!!Estimate" from the row index
pop_hh_df.index = pop_hh_df.index.str.replace(' Metro Area!!Estimate', '')

# Make the first row the column index
pop_hh_df.columns = pop_hh_df.iloc[0]
pop_hh_df = pop_hh_df.drop(pop_hh_df.index[0])
pop_hh_df

Label (Grouping)                      Total population Total housing units
Abilene, TX                                    171,354              71,554
Aguadilla-Isabela, PR                          295,172             147,417
Akron, OH                                      703,286             315,600
Albany, GA                                     147,431              65,443
Albany-Lebanon, OR                             127,216              50,936
...                                                ...                 ...
Yauco, PR                                       88,203              43,971
York-Hanover, PA                               447,628             184,896
Youngstown-Warren-Boardman, OH-PA              538,115             259,266
Yuba City, CA                                  173,839              63,026
Yuma, AZ                                       211,931              93,612

[392 rows x 2 columns]

In [10]:
#number of vehicle per household

filtered_cols = [col for col in vehi_num_df.columns if 'Area!!Percent' not in col and "Margin of Error" not in col]
vehi_num_df = vehi_num_df[filtered_cols].iloc[65:69]


vehi_num_df=vehi_num_df.transpose()

# Remove "Metro Area!!Estimate" from the row index
vehi_num_df.index = vehi_num_df.index.str.replace(' Metro Area!!Estimate', '')

# Make the first row the column index
vehi_num_df.columns = vehi_num_df.iloc[0]
vehi_num_df = vehi_num_df.drop(vehi_num_df.index[0])
vehi_num_df

Label (Grouping),No vehicles available,1 vehicle available,2 vehicles available,3 or more vehicles available
"Abilene, TX","3,169","20,568","25,410","12,267"
"Aguadilla-Isabela, PR","15,884","49,568","31,985","14,225"
"Akron, OH","22,517","99,403","110,368","57,218"
"Albany, GA","5,307","20,086","18,931","11,796"
"Albany-Lebanon, OR","2,266","13,541","17,682","14,801"
...,...,...,...,...
"Yauco, PR","4,180","14,321","8,817","3,353"
"York-Hanover, PA","9,760","50,381","68,677","45,607"
"Youngstown-Warren-Boardman, OH-PA","20,203","82,043","85,180","44,181"
"Yuba City, CA","3,585","16,348","21,201","17,886"
"Yuma, AZ","3,842","26,788","26,983","17,011"

In [11]:
#total hosuehold number
household_df = pd.read_csv('../../data/raw/ACSDP5Y2020.DP02-2024-07-11T195226.csv') # modeshares (for commuting)


household_df

,Label (Grouping),"Abilene, TX Metro Area!!Estimate","Abilene, TX Metro Area!!Margin of Error","Abilene, TX Metro Area!!Percent","Abilene, TX Metro Area!!Percent Margin of Error","Aguadilla-Isabela, PR Metro Area!!Estimate","Aguadilla-Isabela, PR Metro Area!!Margin of Error","Aguadilla-Isabela, PR Metro Area!!Percent","Aguadilla-Isabela, PR Metro Area!!Percent Margin of Error","Akron, OH Metro Area!!Estimate",...,"Youngstown-Warren-Boardman, OH-PA Metro Area!!Percent","Youngstown-Warren-Boardman, OH-PA Metro Area!!Percent Margin of Error","Yuba City, CA Metro Area!!Estimate","Yuba City, CA Metro Area!!Margin of Error","Yuba City, CA Metro Area!!Percent","Yuba City, CA Metro Area!!Percent Margin of Error","Yuma, AZ Metro Area!!Estimate","Yuma, AZ Metro Area!!Margin of Error","Yuma, AZ Metro Area!!Percent","Yuma, AZ Metro Area!!Percent Margin of Error"
0,HOUSEHOLDS BY TYPE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Total households,"61,414",±828,"61,414",(X),NaN,NaN,NaN,NaN,"289,506",...,"231,607",(X),"59,020",±480,"59,020",(X),"74,624","±1,047","74,624",(X)
2,Married-couple household,"30,754","±1,042",50.1%,±1.6,NaN,NaN,NaN,NaN,"128,929",...,43.0%,±0.7,"30,146",±927,51.1%,±1.6,"39,718","±1,244",53.2%,±1.6
3,With children of the householder u...,(X),(X),(X),(X),NaN,NaN,NaN,NaN,(X),...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
4,Cohabiting couple household,"4,010",±464,6.5%,±0.8,NaN,NaN,NaN,NaN,"20,529",...,6.9%,±0.4,"4,703",±563,8.0%,±1.0,"4,688",±601,6.3%,±0.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167,West Indian (excluding Hispanic origin...,457,±153,0.3%,±0.1,NaN,NaN,NaN,NaN,"1,351",...,0.1%,±0.1,409,±202,0.2%,±0.1,274,±144,0.1%,±0.1
168,COMPUTERS AND INTERNET USE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
169,Total households,"61,414",±828,"61,414",(X),NaN,NaN,NaN,NaN,"289,506",...,"231,607",(X),"59,020",±480,"59,020",(X),"74,624","±1,047","74,624",(X)
170,With a computer,"55,653",±872,90.6%,±0.8,NaN,NaN,NaN,NaN,"262,454",...,87.0%,±0.5,"53,795",±639,91.1%,±0.9,"66,250","±1,241",88.8%,±1.0
171,With a broadband Internet subscription,"49,992",±911,81.4%,±1.1,NaN,NaN,NaN,NaN,"246,186",...,80.9%,±0.5,"50,553",±731,85.7%,±1.0,"60,576","±1,256",81.2%,±1.3

In [12]:
# Select columns containing "median income"
filtered_cols = [col for col in household_df.columns if 'Area!!Percent' not in col and "Margin of Error" not in col]

# Select the first row and the filtered columns
household_df = household_df.loc[[1], filtered_cols]

household_df=household_df.transpose()

# Remove "Metro Area!!Estimate" from the row index
household_df.index = household_df.index.str.replace('Metro Area!!Estimate', '')

# Make the first row the column index
household_df.columns = household_df.iloc[0]
household_df = household_df.drop(household_df.index[0])

household_df

Label (Grouping)                       Total households
Abilene, TX                                      61,414
Aguadilla-Isabela, PR                               NaN
Akron, OH                                       289,506
Albany, GA                                       56,120
Albany-Lebanon, OR                               48,290
...                                                 ...
Yauco, PR                                           NaN
York-Hanover, PA                                174,425
Youngstown-Warren-Boardman, OH-PA               231,607
Yuba City, CA                                    59,020
Yuma, AZ                                         74,624

[392 rows x 1 columns]

In [13]:
#the type of industry that people work for (employed): number of population

industry_df = pd.read_csv('../../data/raw/ACSDP5Y2020.DP03-2024-07-11T212702.csv') # modeshares (for commuting)
industry_df

,Label (Grouping),"Abilene, TX Metro Area!!Estimate","Abilene, TX Metro Area!!Margin of Error","Abilene, TX Metro Area!!Percent","Abilene, TX Metro Area!!Percent Margin of Error","Aguadilla-Isabela, PR Metro Area!!Estimate","Aguadilla-Isabela, PR Metro Area!!Margin of Error","Aguadilla-Isabela, PR Metro Area!!Percent","Aguadilla-Isabela, PR Metro Area!!Percent Margin of Error","Akron, OH Metro Area!!Estimate",...,"Youngstown-Warren-Boardman, OH-PA Metro Area!!Percent","Youngstown-Warren-Boardman, OH-PA Metro Area!!Percent Margin of Error","Yuba City, CA Metro Area!!Estimate","Yuba City, CA Metro Area!!Margin of Error","Yuba City, CA Metro Area!!Percent","Yuba City, CA Metro Area!!Percent Margin of Error","Yuma, AZ Metro Area!!Estimate","Yuma, AZ Metro Area!!Margin of Error","Yuma, AZ Metro Area!!Percent","Yuma, AZ Metro Area!!Percent Margin of Error"
0,EMPLOYMENT STATUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Population 16 years and over,"135,054",±297,"135,054",(X),"248,419",±429,"248,419",(X),"577,639",...,"444,105",(X),"132,221",±313,"132,221",(X),"164,420",±371,"164,420",(X)
2,In labor force,"82,453","±1,171",61.1%,±0.9,"96,050","±1,950",38.7%,±0.8,"374,483",...,57.3%,±0.4,"78,253","±1,215",59.2%,±0.9,"90,181","±1,618",54.8%,±1.0
3,Civilian labor force,"78,410","±1,204",58.1%,±0.9,"95,867","±1,949",38.6%,±0.8,"374,132",...,57.2%,±0.4,"75,607","±1,238",57.2%,±0.9,"86,170","±1,589",52.4%,±1.0
4,Employed,"75,803","±1,270",56.1%,±0.9,"80,735","±1,756",32.5%,±0.7,"352,385",...,53.5%,±0.5,"69,976","±1,248",52.9%,±0.9,"78,723","±1,697",47.9%,±1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140,18 years and over,(X),(X),12.3%,±0.9,(X),(X),49.0%,±1.3,(X),...,14.1%,±0.6,(X),(X),12.6%,±0.8,(X),(X),15.4%,±0.9
141,18 to 64 years,(X),(X),13.3%,±1.0,(X),(X),49.4%,±1.4,(X),...,16.3%,±0.7,(X),(X),13.5%,±1.0,(X),(X),15.5%,±1.1
142,65 years and over,(X),(X),8.4%,±1.2,(X),(X),47.5%,±1.8,(X),...,7.8%,±0.5,(X),(X),8.6%,±1.4,(X),(X),14.9%,±1.6
143,People in families,(X),(X),9.6%,±1.1,(X),(X),48.4%,±1.4,(X),...,14.4%,±0.8,(X),(X),11.6%,±1.3,(X),(X),16.6%,±1.3
144,Unrelated individuals 15 years and over,(X),(X),29.3%,±2.3,(X),(X),66.5%,±1.8,(X),...,25.3%,±1.0,(X),(X),26.8%,±2.2,(X),(X),27.9%,±2.6

In [14]:
#number of vehicle per household

filtered_cols = [col for col in industry_df.columns if 'Area!!Percent' not in col and "Margin of Error" not in col]
industry_df = industry_df[filtered_cols].iloc[36:49]


industry_df=industry_df.transpose()

# Remove "Metro Area!!Estimate" from the row index
industry_df.index = industry_df.index.str.replace(' Metro Area!!Estimate', '')

# Make the first row the column index
industry_df.columns = industry_df.iloc[0]
industry_df = industry_df.drop(industry_df.index[0])
industry_df

Label (Grouping),"Agriculture, forestry, fishing and hunting, and mining",Construction,Manufacturing,Wholesale trade,Retail trade,"Transportation and warehousing, and utilities",Information,"Finance and insurance, and real estate and rental and leasing","Professional, scientific, and management, and administrative and waste management services","Educational services, and health care and social assistance","Arts, entertainment, and recreation, and accommodation and food services","Other services, except public administration",Public administration
"Abilene, TX","2,228","5,598","5,219","1,496","9,212","4,445",812,"5,328","5,003","21,134","6,295","4,044","4,989"
"Aguadilla-Isabela, PR","1,959","5,474","9,339","1,920","10,918","3,150","1,009","2,518","7,452","17,070","7,823","4,744","7,359"
"Akron, OH","2,045","21,136","52,804","10,861","42,696","17,816","5,610","21,305","34,973","83,021","32,632","16,613","10,873"
"Albany, GA","1,856","3,380","6,052","1,579","7,502","3,482",801,"2,878","4,978","15,223","4,942","3,729","5,113"
"Albany-Lebanon, OR","2,884","4,198","7,720","1,086","6,168","2,828",398,"2,248","4,135","13,943","4,020","3,034","3,670"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Yauco, PR",518,"1,141","2,230",279,"2,424","1,107",98,480,"1,435","6,333","1,447","1,136","2,996"
"York-Hanover, PA","2,063","15,511","34,769","7,702","25,324","15,527","2,906","13,026","20,653","49,522","16,491","11,242","11,345"
"Youngstown-Warren-Boardman, OH-PA","1,924","13,938","37,860","5,860","28,967","12,297","3,461","10,634","16,956","63,029","22,487","11,181","9,146"
"Yuba City, CA","5,088","5,940","4,632","2,137","8,257","4,301",762,"3,060","5,963","15,148","6,370","3,223","5,095"
"Yuma, AZ","8,119","4,490","3,956","2,456","9,794","4,199",796,"3,002","6,387","16,498","8,310","3,351","7,365"

In [15]:
# Merge the DataFrames
combined_df = pd.merge(mods_df, income_df, left_index=True, right_index=True)
combined_df = pd.merge(combined_df, em_df, left_index=True, right_index=True)
combined_df = pd.merge(combined_df, pop_hh_df, left_index=True, right_index=True)
combined_df = pd.merge(combined_df, vehi_num_df, left_index=True, right_index=True)
combined_df = pd.merge(combined_df, industry_df, left_index=True, right_index=True)
# combined_df = pd.merge(combined_df, household_df, left_index=True, right_index=True)
# Adjust column names if needed
# combined_df = combined_df.rename(columns={
#     'Car, truck, or van:': 'Car, truck, or van',
#     'Public transportation (excluding taxicab):': 'Public transportation',
#     'Taxicab, motorcycle, or other means': 'Taxicab or other means'
# })
# Reset index to move it as a column and rename the row index
combined_df.reset_index(inplace=True)
combined_df.rename(columns={'index': 'MSA'}, inplace=True)
combined_df.index.name = ''

# Increment the index by 1 for numerical order starting from 1
combined_df.index += 1
combined_df

,MSA,"Car, truck, or van:",Public transportation (excluding taxicab):,Bicycle,Walked,"Taxicab, motorcycle, or other means",Worked from home,Median Household Income,Household Number,Employment Rate,...,Wholesale trade,Retail trade,"Transportation and warehousing, and utilities",Information,"Finance and insurance, and real estate and rental and leasing","Professional, scientific, and management, and administrative and waste management services","Educational services, and health care and social assistance","Arts, entertainment, and recreation, and accommodation and food services","Other services, except public administration",Public administration
,,,,,,,,,,,,,,,,,,,,,
1,"Abilene, TX",89.872230,0.591948,0.253511,2.201744,0.768139,6.312427,"54,857","61,414",56.1%,...,"1,496","9,212","4,445",812,"5,328","5,003","21,134","6,295","4,044","4,989"
2,"Aguadilla-Isabela, PR",92.448946,0.465110,0.346927,2.831328,0.856515,3.051175,"16,744","111,662",32.5%,...,"1,920","10,918","3,150","1,009","2,518","7,452","17,070","7,823","4,744","7,359"
3,"Akron, OH",89.792361,1.060421,0.101394,1.524972,0.654846,6.866006,"59,313","289,506",61.0%,...,"10,861","42,696","17,816","5,610","21,305","34,973","83,021","32,632","16,613","10,873"
4,"Albany, GA",91.494811,0.927028,0.158636,1.794567,1.384758,4.240201,"46,323","56,120",53.1%,...,"1,579","7,502","3,482",801,"2,878","4,978","15,223","4,942","3,729","5,113"
5,"Albany-Lebanon, OR",89.894202,0.127967,0.569544,1.923112,1.294090,6.191086,"59,547","48,290",55.3%,...,"1,086","6,168","2,828",398,"2,248","4,135","13,943","4,020","3,034","3,670"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
388,"Yauco, PR",92.694882,0.739938,0.117824,1.833349,2.347064,2.266943,"15,754","30,671",29.6%,...,279,"2,424","1,107",98,480,"1,435","6,333","1,447","1,136","2,996"
389,"York-Hanover, PA",91.060355,0.768720,0.238475,1.401943,0.769623,5.760884,"68,940","174,425",62.7%,...,"7,702","25,324","15,527","2,906","13,026","20,653","49,522","16,491","11,242","11,345"
390,"Youngstown-Warren-Boardman, OH-PA",91.126946,0.972142,0.076499,1.575971,1.403203,4.845239,"48,020","231,607",53.5%,...,"5,860","28,967","12,297","3,461","10,634","16,956","63,029","22,487","11,181","9,146"
391,"Yuba City, CA",90.795564,0.817012,0.265282,1.277022,0.989163,5.855958,"61,655","59,020",52.9%,...,"2,137","8,257","4,301",762,"3,060","5,963","15,148","6,370","3,223","5,095"
392,"Yuma, AZ",91.237858,1.772424,0.301164,1.964971,1.219467,3.504116,"48,790","74,624",47.9%,...,"2,456","9,794","4,199",796,"3,002","6,387","16,498","8,310","3,351","7,365"

In [16]:
#Since the employment-population ratio includes everyone, and the unemployment rate includes only those in the labor force, these two rates will not add up to 1.

In [17]:
# Remove '%' and convert to numeric
combined_df['Employment Rate'] = combined_df['Employment Rate'].str.rstrip('%').astype('float') / 100
combined_df['Unemployment Rate'] = combined_df['Unemployment Rate'].str.rstrip('%').astype('float') / 100

In [18]:
combined_df
combined_df.to_csv('../../data/tidy/msa-modeshare-employment-salary.csv', index=False)